# syntax=docker/dockerfile:1
FROM python:3.12-slim
ENV PYTHONUNBUFFERED=1 PYTHONDONTWRITEBYTECODE=1
WORKDIR /app

COPY requirements.txt ./
RUN pip install --no-cache-dir -r requirements.txt "uvicorn[standard]"

COPY . .

EXPOSE [[.Port]]
CMD ["uvicorn", "[[.AppModule]]", "--host", "0.0.0.0", "--port", "[[.Port]]"]
